@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  font: 100% Helvetica, sans-serif;
  background-color: #a3a3c2; }

.title {
  font-family: 'Lobster', cursive;
  color: ff;
  text-align: center; }

.container {
  padding: 10px;
  margin: 0 auto;
  max-width: 700px;
  background-color: #ffffff;
  border: 1px;
  border-color: #000000;
  border-style: solid;
  border-radius: 10px; }
